@import 'tailwindcss';
@plugin "daisyui" {
  themes: light , dark , dracula --default --prefersdark;
}
@plugin "daisyui/theme" {
  name: "dracula";
  default: true;
  --color-primary: oklch(61.61% 0.232 17.9);
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: oklch(98% 0.01 240);
}

/* @theme {
  --color-avocado-100: oklch(0.99 0 0);
  --color-primary: rgb(240 34 77);
  --color-secondary: rgb(111 114 185);
  --color-bgmain: rgb(37 41 50);
  --color-text: rgb(255 255 255);
  --color-footer: rgb(22 24 30);
  --color-darker: rgb(0 0 0);
} */



:root {
  @apply scroll-smooth;
}

.fx-zoom:hover {
  @apply transform scale-105 transition
}

.fx-moveUp:hover{
  @apply transform -translate-y-1 transition
}

.icon-red{
  filter: brightness(0) saturate(100%) invert(22%) sepia(82%) saturate(4258%) hue-rotate(336deg) brightness(97%) contrast(93%);
}

.icon-red-hover:hover{
  filter: brightness(0) saturate(100%) invert(22%) sepia(82%) saturate(4258%) hue-rotate(336deg) brightness(97%) contrast(93%);
 
}

/* body {
  @apply text-white bg-bgmain;
} */
nav a,
footer a {
  @apply hover:text-primary transition-colors duration-300;
}
h1 {
  @apply text-3xl md:text-4xl lg:text-5xl font-semibold;
}
h2 {
  @apply text-2xl md:text-3xl lg:text-4xl font-semibold;
}
h3 {
  @apply text-xl md:text-2xl lg:text-3xl font-semibold;
}
h4 {
  @apply text-xl font-semibold;
}
h5 {
  @apply text-lg font-semibold;
}
h6 {
  @apply text-base font-semibold;
}
.section {
  @apply px-8 md:px-16 lg:px-36  py-8 md:py-16 lg:py-20;
}
.nav {
  @apply px-10 py-4;
}
.footer {
  @apply px-10 py-10;
}
/* @media (prefers-color-scheme: dark) {
      :root {
          --color-primary: 240 34 77;
          --color-secondary: 111 114 185;
          --color-bg: 37 41 50;
          --color-text: 255 255 255;
          --color-footer: 22 24 30;
          --color-darker: 0 0 0;
      }
  } */
/* :root[data-theme="light"] {
      @apply scroll-smooth;
      --color-primary: 240 34 77;
      --color-secondary: 111 114 185;
      --color-bg: 255 255 255;
      --color-text: 37 41 50;
      --color-footer: 22 24 30;
      --color-darker: 246 231 236;

  } */
/* :root[data-theme="dark"] {
      @apply scroll-smooth;
      --color-primary: 240 34 77;
      --color-secondary: 111 114 185;
      --color-bg: 37 41 50;
      --color-text: 255 255 255;
      --color-footer: 22 24 30;
      --color-darker: 0 0 0;
     
  } */
